@import "vars.scss";

.feedback-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.feedback-form {
	padding: 10px;
	width: 300px;
	border: 2px solid $accent
}

.feedback-form input {
	display: block;
	width: 100%;
}


.fb-form {
	padding: 30px 20px 20px;
	height: 45vh
}

.fb-input {
	font-size: 16px;
	padding: 12px 14px;
	box-sizing: border-box;
	margin-bottom: 22px;
	color: $accent;
	outline: none;
}

.feedback-submit-button {
	background-color: $accent;
	color: $white;
	font-size: 18px;
	text-transform: uppercase;
	display: block;
	text-align: center;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 10px;
	text-decoration: none;
	cursor: pointer;
}

.box-input {
	position: relative;
	& input {
		border: none;
		border-bottom: 2px solid $lgrey;
		padding: 10px 0px;
		&:focus ~ label,
		&:valid ~ label {
			color: $laccent;
			top: -30px;
			font-size: 12px;
		}
	}
	& label {
		position: absolute;
		top: 0;
		left: 0;
		padding-top: 5px;
		color: $grey;
		transition: .5s;
		pointer-events: none;
	}
}




::-webkit-input-placeholder {
	color: $laccent;
}

::-moz-placeholder {
	color: $laccent;
}

:-moz-placeholder {
	color: $laccent;
}

:-ms-input-placeholder {
	color: $laccent;
}


