@font-face {
	font-family: 'Lato';
	src: local('Lato Medium'), local('Lato-Medium'), url('../fonts/lato/500.woff2') format('woff2'), url('../fonts/lato/500.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/lato/700.woff2') format('woff2'), url('../fonts/lato/700.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url('../fonts/playfair/400.woff2') format('woff2'), url('../fonts/playfair/400.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'), url('../fonts/playfair/700.woff2') format('woff2'), url('../fonts/playfair/700.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: local('Playfair Display Black'), local('PlayfairDisplay-Black'), url('../fonts/playfair/900.woff2') format('woff2'), url('../fonts/playfair/900.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
