$block: '.FinishScreen';

#{$block} {

	font-family: $subFont;

	#{$block}-result {
	
		font-weight: 700;
		font-size: 2rem;
		transform: translateY(-5px);
	
	}

	#{$block}-slash {
		font-size: 1.9rem;
	}

	#{$block}-questions {
		font-size: 2rem;
		vertical-align: sub;
		transform: translateY(5px);
	}
	#{$block}-text {
		font-size: 1.9rem
	}
	
}
