@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	src: local('Lato'),
		url('../../../fonts/Lato/LatoHairline.ttf') format('ttf');
}


@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 100;
	src: local('Lato'),
		url('../../../fonts/Lato/LatoHairlineItalic.ttf') format('ttf');
}



@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 200;
	src: local('Lato'),
		url('../../../fonts/Lato/LatoThin.ttf') format('ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 200;
	src: local('Lato'),
		url('../../../fonts/Lato/LatoThinItalic.ttf') format('ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: local('Lato'),
		url('../../../fonts/Lato/LatoLight.ttf') format('ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 300;
	src: local('Lato'),
		url('../../../fonts/Lato/LatoLightItalic.ttf') format('ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato'),
		url('../../../fonts/Lato/LatoRegular.ttf') format('ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: local('Lato'),
		url('../../../fonts/Lato/LatoRegularItalic.ttf') format('ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 500;
	src: local('Lato'),
		url('../../../fonts/Lato/LatoMedium.ttf') format('ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 500;
	src: local('Lato'),
		url('../../../fonts/Lato/LatoMediumItailc.ttf') format('ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 600;
	src: local('Lato'),
		url('../../../fonts/Lato/LatoSemibold.ttf') format('ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 600;
	src: local('Lato'),
		url('../../../fonts/Lato/LatoSemiboldItalic.ttf') format('ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato'),
		url('../../../fonts/Lato/LatoBold.ttf') format('ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 700;
	src: local('Lato'),
		url('../../../fonts/Lato/LatoBoldItalic.ttf') format('ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 800;
	src: local('Lato'),
		url('../../../fonts/Lato/LatoHeavy.ttf') format('ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 800;
	src: local('Lato'),
		url('../../../fonts/Lato/LatoHeavyItalic.ttf') format('ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: local('Lato'),
		url('../../../fonts/Lato/LatoBlack.ttf') format('ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 900;
	src: local('Lato'),
		url('../../../fonts/Lato/LatoBoldItalic.ttf') format('ttf');
}


