@font-face {
	font-family: 'PlayfairDisplay';
	font-style: normal;
	font-weight: 400;
	src: local('Playfair Display'),
	url('../../../fonts/PlayfairDisplay/PlayfairDisplayRegular.woff2') format('woff2');
}

@font-face {
	font-family: 'PlayfairDisplay';
	font-style: italic;
	font-weight: 400;
	src: local('Playfair Display'),
		url('../../../fonts/PlayfairDisplay/PlayfairDisplayRegularItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'PlayfairDisplay';
	font-style: normal;
	font-weight: 600;
	src: local('Playfair Display'),
		url('../../../fonts/PlayfairDisplay/PlayfairDisplayBold.woff2') format('woff2');
}

@font-face {
	font-family: 'PlayfairDisplay';
	font-style: italic;
	font-weight: 600;
	src: local('Playfair Display'),
		url('../../../fonts/PlayfairDisplay/PlayfairDisplayBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'PlayfairDisplay';
	font-style: normal;
	font-weight: 700;
	src: local('Playfair Display'),
		url('../../../fonts/PlayfairDisplay/PlayfairDisplayBlack.woff2') format('woff2');
}

@font-face {
	font-family: 'PlayfairDisplay';
	font-style: italic;
	font-weight: 700;
	src: local('Playfair Display'),
		url('../../../fonts/PlayfairDisplay/PlayfairDisplayBlackItalic.woff2') format('woff2');
}

