h4.fz-10x {font-size: 3rem;}
h4.fz-9x {font-size: 2.8rem;}
h4.fz-8x {font-size: 2.6rem;}
h4.fz-7x {font-size: 2.4rem;}
h4.fz-6x {font-size: 2.2rem;}
h4.fz-5x {font-size: 2rem;}
h4.fz-4x {font-size: 1.8rem;}
h4.fz-3x {font-size: 1.6rem;}
h4.fz-2x {font-size: 1.4rem;}
h4.fz-1x {font-size: 1.2rem;}
h4.fz-0x {font-size: 1.2rem;}

h4.fz-10x.control-title {font-size: 1.6rem;}
h4.fz-9x.control-title {font-size: 1.6rem;}
h4.fz-8x.control-title {font-size: 1.6rem;}
h4.fz-7x.control-title {font-size: 1.6rem;}
h4.fz-6x.control-title {font-size: 1.6rem;}
h4.fz-5x.control-title {font-size: 1.6rem;}
h4.fz-4x.control-title {font-size: 1.6rem;}
h4.fz-3x.control-title {font-size: 1.6rem;}
h4.fz-2x.control-title {font-size: 1.6rem;}
h4.fz-1x.control-title {font-size: 1.6rem;}
h4.fz-0x.control-title {font-size: 1.6rem;}

h3.fz-10x {font-size: 3.5rem;}
h3.fz-9x {font-size: 3.3rem;}
h3.fz-8x {font-size: 3.1rem;}
h3.fz-7x {font-size: 2.9rem;}
h3.fz-6x {font-size: 2.7rem;}
h3.fz-5x {font-size: 2.5rem;}
h3.fz-4x {font-size: 2.3rem;}
h3.fz-3x {font-size: 2.1rem;}
h3.fz-2x {font-size: 1.9rem;}
h3.fz-1x {font-size: 1.7rem;}
h3.fz-0x {font-size: 1.5rem;}

h2.fz-10x {font-size: 3.8rem;}
h2.fz-9x {font-size: 3.6rem;}
h2.fz-8x {font-size: 3.4rem;}
h2.fz-7x {font-size: 3.2rem;}
h2.fz-6x {font-size: 3rem;}
h2.fz-5x {font-size: 2.8rem;}
h2.fz-4x {font-size: 2.6rem;}
h2.fz-3x {font-size: 2.4rem;}
h2.fz-2x {font-size: 2.2rem;}
h2.fz-1x {font-size: 2rem;}
h2.fz-0x {font-size: 1.8rem;}

h1.fz-10x {font-size: 4rem;}
h1.fz-9x {font-size: 3.8rem;}
h1.fz-8x {font-size: 3.6rem;}
h1.fz-7x {font-size: 3.4rem;}
h1.fz-6x {font-size: 3.2rem;}
h1.fz-5x {font-size: 3rem;}
h1.fz-4x {font-size: 2.8rem;}
h1.fz-3x {font-size: 2.6rem;}
h1.fz-2x {font-size: 2.4rem;}
h1.fz-1x {font-size: 2.2rem;}
h1.fz-0x {font-size: 2rem;}

p.fz-10x {font-size: 2.8rem;}
p.fz-9x {font-size: 2.6rem;}
p.fz-8x {font-size: 2.4rem;}
p.fz-7x {font-size: 2.2rem;}
p.fz-6x {font-size: 2rem;}
p.fz-5x {font-size: 1.8rem;}
p.fz-4x {font-size: 1.6rem;}
p.fz-3x {font-size: 1.4rem;}
p.fz-2x {font-size: 1.2rem;}
p.fz-1x {font-size: 1rem;}
p.fz-0x {font-size: 0.8rem;}

a.fz-10x {font-size: 2.8rem;}
a.fz-9x {font-size: 2.6rem;}
a.fz-8x {font-size: 2.4rem;}
a.fz-7x {font-size: 2.2rem;}
a.fz-6x {font-size: 2rem;}
a.fz-5x {font-size: 1.8rem;}
a.fz-4x {font-size: 1.6rem;}
a.fz-3x {font-size: 1.4rem;}
a.fz-2x {font-size: 1.2rem;}
a.fz-1x {font-size: 1rem;}
a.fz-0x {font-size: 0.8rem;}

blockquote.fz-10x {font-size: 2.9rem;}
blockquote.fz-9x {font-size: 2.7rem;}
blockquote.fz-8x {font-size: 2.5rem;}
blockquote.fz-7x {font-size: 2.3rem;}
blockquote.fz-6x {font-size: 2.1rem;}
blockquote.fz-5x {font-size: 1.9rem;}
blockquote.fz-4x {font-size: 1.7rem;}
blockquote.fz-3x {font-size: 1.5rem;}
blockquote.fz-2x {font-size: 1.3rem;}
blockquote.fz-1x {font-size: 1.1rem;}
blockquote.fz-0x {font-size: 0.9rem;}
