/* cyrillic-ext */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Slab Light'),
	local('RobotoSlab-Light'),
	url('/MyMotherland/new/dist/assets/fonts/RobotoSlab/RobotoSlabCyrExtLight.woff2') format('woff2');
}

/* cyrillic */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Slab Light'),
	local('RobotoSlab-Light'),
	url('/MyMotherland/new/dist/assets/fonts/RobotoSlab/RobotoSlabCyrLight.woff2') format('woff2');
}

/* latin-ext */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Slab Light'),
	local('RobotoSlab-Light'),
	url('/MyMotherland/new/dist/assets/fonts/RobotoSlab/RobotoSlabLatinExtLight.woff2') format('woff2');
}

/* latin */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Slab Light'),
	local('RobotoSlab-Light'),
	url('/MyMotherland/new/dist/assets/fonts/RobotoSlab/RobotoSlabLatinLight.woff2') format('woff2');
}

/* cyrillic-ext */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Slab Regular'),
	local('RobotoSlab-Regular'),
	url('/MyMotherland/new/dist/assets/fonts/RobotoSlab/RobotoSlabCyrExtNormal.woff2') format('woff2');
}

/* cyrillic */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Slab Regular'),
	local('RobotoSlab-Regular'),
	url('/MyMotherland/new/dist/assets/fonts/RobotoSlab/RobotoSlabCyrNormal.woff2') format('woff2');
}

/* latin-ext */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Slab Regular'),
	local('RobotoSlab-Regular'),
	url('/MyMotherland/new/dist/assets/fonts/RobotoSlab/RobotoSlabLatinExtNormal.woff2') format('woff2');
}

/* latin */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Slab Regular'),
	local('RobotoSlab-Regular'),
	url('/MyMotherland/new/dist/assets/fonts/RobotoSlab/RobotoSlabLatinNormal.woff2') format('woff2');
}

/* cyrillic-ext */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Slab Bold'),
	local('RobotoSlab-Bold'),
	url('/MyMotherland/new/dist/assets/fonts/RobotoSlab/RobotoSlabCyrExtBold.woff2') format('woff2');
}

/* cyrillic */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Slab Bold'),
	local('RobotoSlab-Bold'),
	url('/MyMotherland/new/dist/assets/fonts/RobotoSlab/RobotoSlabCyrNormal.woff2') format('woff2');
}

/* latin-ext */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Slab Bold'),
	local('RobotoSlab-Bold'),
	url('/MyMotherland/new/dist/assets/fonts/RobotoSlab/RobotoSlabLatinExtNormal.woff2') format('woff2');
}

/* latin */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Slab Bold'),
	local('RobotoSlab-Bold'),
	url('/MyMotherland/new/dist/assets/fonts/RobotoSlab/RobotoSlabLatinNormal.woff2') format('woff2');
}
