
$green-900: #041202;
$green-800: #0C3505;
$green-700: #135709;
$green-600: #1B7A0C;
$green-500: #229D0F;
$green-400: #29BF12;
$green-300: #4FCA3D;
$green-200: #76D668;
$green-100: #EBF9E9;

$blue-900: #000204;
$blue-800: #00060C;
$blue-700: #000A14;
$blue-600: #000F1D;
$blue-500: #001325;
$blue-400: #00162C;
$blue-300: #2E4052;
$blue-200: #5C6A78;
$blue-100: #E7E9EB;

$yellow-900: #000000;
$yellow-800: #424418;
$yellow-700: #6E7128;
$yellow-600: #999E38;
$yellow-500: #C5CB48;
$yellow-400: #F0F757;
$yellow-300: #F2F875;
$yellow-200: #F5F994;
$yellow-100: #FCFDE0;

$red-900: #120303;
$red-800: #350909;
$red-700: #570F0E;
$red-600: #7A1514;
$red-500: #9D1C19;
$red-400: #BF211E;
$red-300: #D6716F;
$red-200: #D6716F;
$red-100: #F3D6D6;



