$block: '.ControlPanel';

#{$block} {
	position: relative;

	&-trigger {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 70px;
		height: 70px;
		color: $accentIva;
		background: #fff;
		position: relative;
		z-index: 3;
		transition: .3s ease;
		font-size: 30px;
		font-weight: 700;
		cursor: pointer;

		&:before {
			content: '\262D'
		}

		&.is-active {
			&:before {
				content: '\00D7'
			}
		}

		&#{$themeDarkName} {
			color: $dark-theme-text-color;
			background: $dark-theme-dark-bg;
			transition-delay: 0;
		}
	}

	&-buttons {
		& div {
			display: flex;
			font-size: 20px;
			justify-content: center;
			align-items: center;
			background-color: #fff;
			color: $accentIva;
			box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);
			font-weight: 700;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			transition: 0.4s ease-in;
			position: absolute;
			left: calc(50% - 25px);
			top: calc(50% - 25px);
			z-index: 0;
			color: #000000;

			&:nth-child(1) {
				transition-delay: 0.1s;
				transform: rotate(270deg);

			}

			&:nth-child(2) {
				transition-delay: 0.2s;
				transform: rotate(270deg);

			}

			&:nth-child(3) {
				transition-delay: 0.3s;
				transform: rotate(270deg);
			}

			&:nth-child(4) {
				transition-delay: 0.4s;
				transform: rotate(270deg);

			}


			&#{$themeDarkName} {
				color: $dark-theme-text-color;
				background: $dark-theme-dark-bg;
			}
		}

		&.is-active {
			& div {
				&:nth-child(1) {
					transform: translate(0, 190%);
				}

				&:nth-child(2) {
					transform: translate(0, 290%);
				}

				&:nth-child(3) {
					transform: translate(0, 390%);

				}

				&:nth-child(4) {
					transform: translate(0%, 490%);
				}
			}
		}
	}
}
