$block: '.Menu';

#{$block} {
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX(200%);
	transition: .7s ease-in;
	background: $accentIva;
	width: 80%;
	height: 100vh;
	z-index: 220;
	color: #fff;
	font-size: 20px;
	font-family: $mainFont;

	&-trigger {
		font-size: 30px;
		text-decoration: none;
		color: #222;
		transition: .7s ease-in;
		&:before {
			@include fa("\f0c9")
		}

		&.is-active {
			&:before {
				@include fa("\f060")
			}
		}
	}

	&.is-active {
		transform: translateX(30%);
		@include media {
			transform: translateX(0%);
		}
	}
}