$default-font: "roboto-example", sans-serif;
$accent: orange;
$text: #333;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
$white: #ffffff;
$accent: #183152;
$laccent: #375d81;
$black: #000000;
$grey: #b4b4b4;
$lgrey: #f5f5f5;
$llgrey: #f6f6f6;
$dgray: #444444;
$vk: #5181b8;
$daccent: #061634;
$telegram: #0088cc;
$yandex: #ffcc00;
$yar: #FF3838;
$mail: #dd4b39;
