$block: '.Navigation';

#{$block} {
	display: none;

	#{$block}-item {
		font-size: 1.7rem;
		font-family: $mainFont;
		padding: 10px;
		color: #ffffff;
	}

	#{$block}-link {
		color: #ffffff;
		text-decoration: none;
		transition: .7s ease-in;
		border-bottom: 1px solid #fff;
		padding-bottom: 2px;
		&#{$block}--menuLink {
			display: block;
			width: 100%;
			text-align: left;
			border: none;
			padding-bottom: 0;
			&:hover {
				&:after {
					content: ']';
					color: #ffffff;
					font-weight: 700;
					margin-left: 10px;
					display: inline-block;
				}
			}
		}
	}

	#{$block}-closeButton {
		position: fixed;
		top: 20px;
		right: 20px;
		font-size: 4rem;
		color: #ffffff;
		text-decoration: none;

		&:before {
			@include fa("\f00d")
		}
	}

	#{$block}-copyrightText {
		color: #ffffff;
		font-family: $mainFont;
		font-size: 1.6rem;
		width: 60%;
		text-align: justify;

		@include media {
			width: 90%;
		}
	}

	&.is-active {
		@include flexParent('c', '', '');
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		list-style: none;
		margin: 0;
		padding: 20px;
		z-index: 201;

		&#{$block+$themeNameIva} {
			background: $darkAccentIva;
		}

		&#{$block+$themeNameKos} {
			background: $darkAccentKos;
		}

		&#{$block+$themeNameYar} {
			background: $darkAccentYar;
		}
	}
}
