$block: '.Footer';

#{$block} {
	@include flexParent('c');

	#{$block}-grid {
		@include flexParent('c', 'sb', 'c');
		padding: 20px;
	}
	#{$block}-social {
		@include flexParent('', 'sa', '');

		@media (max-width: 960px) {
			@include flexParent('', 'sa', 'c')
		}
	}
	& i {
		padding: 10px;
		transition: .7s ease-in-out;
		color: #636e72;
			&#{$block}--themeIvanovo {

				&:hover
				 {
					color: $darkAccentIva;
				}

			}

			&#{$block}--Kostroma {

				&:hover
				 {
					color: $darkAccentKos;
				}
			}

			&#{$block}--Yaroslavl {

				&:hover
				 {
					color: $darkAccentYar;
				}
			}
		}
	}
